@import './../../../sass/vars.sass'
.pagination
  display: flex
  flex-direction: column
  align-items: center
  width: min-content

  &__list
    display: flex

  &__item
    min-width: 40px
    min-height: 40px
    display: flex
    align-items: center
    justify-content: center
    color: $d50
    cursor: pointer
    line-height: 15px
    font-size: 12px

    &_current
      background: $lgp

    &_next
      background: $lgg

    &_next,
    &_current
      border-radius: 50%
      color: #fff
      
  &__info
    margin-top: 10px