mixin guest(h3)
	.dropdown-guests
		h3= h3
		.guests
			.how-much Cколько гостей
			i.material-icons expand_more		
		.controls
			.row.first
				.name.adult взрослые
				.control
					.val.minus.inactive -
					.val.number 0
					.val.plus +
			.row.second
				.name.kid дети
				.control
					.val.minus.inactive -
					.val.number 0
					.val.plus +
			.row.third
				.name.baby младенцы
				.control
					.val.minus.inactive -
					.val.number 0
					.val.plus +
			.submit
				.clean очистить
				.apply применить

