mixin dropdown(h3)
	.dropdown-bedroom
		h3= h3
		.bedroom
			.how-much Cколько гостей
			i.material-icons expand_more		
		.controls
			.row.first
				.name спальни
				.control
					.val.minus.inactive -
					.val.number 0
					.val.plus +
			.row.second
				.name кровати
				.control
					.val.minus.inactive -
					.val.number 0
					.val.plus +
			.row.third
				.name ванные комнаты
				.control
					.val.minus.inactive -
					.val.number 0
					.val.plus +
					