@import './../../../sass/vars.sass'
.button
  max-height: 44px
  height: 100%
  width: auto
  padding: 10px 19px
  margin: auto
  display: flex
  justify-content: center
  align-items: center
  border-radius: 22px
  cursor: pointer
  background: $lgp

  &:active
    opacity: 0.5

  &__text
    font-family: montserrat
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #fff

    &_purple
      color: $p
      
    &_grey
      color: $d50

  &__arrow
    position: absolute
    right: 0
    top: 0
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center

  &_with-no-bg
    height: auto
    padding: 0
    margin: 0
    background: 0

    &:active
      opacity: 0.5

  &_with-border
    position: relative
    padding-left: 17px
    padding-right: 17px
    border: solid 2px transparent
    background-clip: padding-box
    background: #fff

    &:active
      opacity: 0.5
      
    &:before
      content: ''
      z-index: -1
      position: absolute
      top: 0px
      right: 0px
      bottom: 0px
      left: 0px
      margin: -4px
      border-radius: inherit
      background: $lgp

    &:active:before
      opacity: .5

    &:active
      opacity: 1

  &_with-arrow
    position: relative
    margin: 0
    height: 44px

    &:active
      opacity: 0.5
  
  