mixin button({text,type,color,isLow=false})
  .button.js-button(class={
    'button_low': isLow,
    ['button_'+type]: type&&
    [
      'with-border',
      'with-arrow',
      'without-background'
    ].indexOf(type)!==-1
    })
    .button__text(class={
      'button__text_purple': color==='purple',
      'button__text_grey': color==='grey',
    })= text
    if type==='with-arrow'
      .button__arrow
        +icon({icon:'arrow_forward',color: 'white'})
