mixin button({text,modifier,color='white'})
  - let className
  case modifier
    when 'arrow'
      - className = '_with-arrow'
    when 'no-bg'
      - className = '_with-no-bg'
    when 'border'
      - className = '_with-border'
  .button(class=modifier?'button'+className:'')
    +heading({text,color: modifier==='border'?'purple':color})
    if modifier=='arrow'
      .button__arrow
        +icon({icon:'arrow_forward',color: 'white'})
