@import './../../../sass/vars.sass'
.button
  $root: &
  max-height: 44px
  padding: 15px 20px
  margin: auto
  display: flex
  justify-content: center
  align-items: center
  border-radius: 22px
  cursor: pointer
  background: $lgp
  user-select: none

  &:hover
    opacity: 0.5

  &__text
    font-family: montserrat
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #fff

    &_purple
      color: $p
      
    &_grey
      color: $d50

  &__arrow
    position: absolute
    right: 0
    top: 0
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center

  &_low
    max-height: 34px
     
  &_without-background
    height: auto
    padding: 0
    margin: 0
    background: 0

    &:hover
      opacity: 0.5

  &_with-border
    $bd: 2px
    position: relative
    background: #fff
    background-clip: padding-box
    border: solid $bd transparent
    padding: 14px 18px

    &:before 
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: -1
      margin: -$bd
      border-radius: inherit
      background: $lgp

    #{$root}__text
      z-index: 2

    &:hover:before
      opacity: .5

    &:hover
      opacity: 1

  &_with-arrow
    position: relative
    margin: 0
    height: 44px

    &:hover
      opacity: 0.5
  
  