@import './../../../sass/vars.sass'
.button
  background: $lgp
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: center
  align-items: center
  border-radius: 22px
  padding: 10px 19px
  cursor: pointer
  padding: 15px 20px
  width: auto
  margin: auto
  height: 100%
  max-height: 44px
  &:active
    opacity: 0.5
  &__arrow
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    right: 0
    top: 0
  &_with-no-bg.button
    height: auto
    background: 0
    padding: 0
    margin: 0
    &:active
      opacity: 0.5
  &_with-border.button
    &:active
      opacity: 0.5
    background: #fff
    background-clip: padding-box
    position: relative
    border: solid 2px transparent
    padding-left: 17px
    padding-right: 17px
    &:before
      content: ''
      position: absolute
      top: 0px
      right: 0px
      bottom: 0px
      left: 0px
      z-index: -1
      margin: -2px
      border-radius: inherit
      background: $lgp
    &:active:before
      opacity: .5 
    &:active
      opacity: 1
  &_with-arrow.button
    position: relative
    margin: 0
    &:active
      opacity: 0.5
  
  