mixin dropdown({h3,modifier}={})
  .dropdown.js-dropdown(class={'dropdown_guest':modifier==='guest'})
    +heading({text:h3,level:'3'})
    .dropdown__body.js-dropdown__body
      .dropdown__display.js-dropdown__display
      .dropdown__icon-wrapper.js-dropdown__icon-wrapper
        +icon({color: 'dark'})
      .dropdown__menu.js-dropdown__menu
        .dropdown__row
          +heading({text:modifier?'взрослые':'спальни'})
          +counter({val:2})
        .dropdown__row
          +heading({text:modifier?'дети':'кровати'})
          +counter({val:2})
        .dropdown__row
          +heading({level:'3',text:modifier?'младенцы':'ванные комнаты'})
          +counter()
        if modifier
          .dropdown__row
            .dropdown__clear.js-dropdown__clear
              +button({text: 'очистить',modifier: 'no-bg',color: 'grey'})
            .dropdown__apply.js-dropdown__apply
              +button({text: 'применить',modifier: 'no-bg',color: 'purple'})