@import './../../../sass/vars.sass'
.dropdown
  $root: &
  &__body
    margin-top: 5px
    background: white
    position: relative

    &_active
      border-top: 0

      #{$root}__display
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0
        border-color: $d50

      #{$root}__menu
        border-top-right-radius: 0
        border-top-left-radius: 0

  &__icon-wrapper
    position: absolute
    top: 0
    right: 0
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center

  &__display,
  &__menu
    min-height: 44px
    width: 100%
    display: flex
    align-items: center
    border: 1px solid $d25
    border-radius: 4px
    padding-left: 15px
    color: $d75
    &::placeholder
      color: $d25
    &:hover,
    &:focus
      border: 1px solid $d50
      outline: 0

  &__menu
    z-index: 3
    position: absolute
    top: 100%
    left: 0
    height: min-content
    border-top: 0
    display: flex
    flex-wrap: wrap
    align-items: center
    border-color: $d50
    background: #fff
    &:hover,
    &:focus
      border-top: 0

  &__row
    width: 100%
    margin-top: 7px
    margin-right: 7px
    justify-content: space-between
    display: flex
    align-items: center
    &:last-child
      margin-bottom: 7px
      
  &_guest &__row:last-child
    margin-bottom: 13px
    margin-top: 20px
  