mixin dropdown({h3,modifier})
  .dropdown.js-dropdown(class={'dropdown_guest':modifier==='guest'})
    +heading({text:name,level:'3'})
    .dropdown__body
      .dropdown__display
      .dropdown__icon-wrapper
        +icon({color: 'dark'})
      .dropdown__menu(style="display: none")
        .dropdown__row
          +heading({text:modifier?'взрослые':'спальни'})
          +counter({val:2})
        .dropdown__row
          +heading({text:modifier?'дети':'кровати'})
          +counter({val:2})
        .dropdown__row
          +heading({level:'3',text:modifier?'младенцы':'ванные комнаты'})
          +counter()
        if modifier
          .dropdown__row
            .dropdown__clear
              +button({text: 'очистить',modifier: 'no-bg',color: 'grey'})
            .dropdown__apply
              +button({text: 'применить',modifier: 'no-bg',color: 'purple'})