mixin review(args)
	include ../like_button/like_button
	.review
		.icon
			img(src= args.path)
		.initials
			.name.bold= args.name
			.time= args.time
		.like_button
			+like(args.num)
		.comment= args.text
		
			
