@import './../../sass/vars.sass'
.landing-page
  position: relative
  width: 100%
  padding: 0
  padding-top: 57.6%
  background: url('/img/image3.png')
  background-size: cover

  @media (max-width: 960px)
    padding: 10px
    background-size: auto
    
  &__content
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 70px 133px 20px 140px 
    display: flex
    flex-direction: column
    justify-content: space-between

    @media (max-width: 960px)
      position: static
      padding: 0
      
    pre
      text-align: right
