extends ./../../ui-kit/template/template
include ./../../ui-kit/ui-kit
block title
  title landing page
block main
  section.landing-page
   .landing-page__content
     +room-search()
      p Лучшие номера для вашей работы,<br> отдыха и просто вдохновения
