extends ./../templates/pages-template/pages-template
include ./../../ui-kit/ui-kit
block title
  title landing page
block main
  section.landing-page
    .landing-page__content
      +room-search()
      pre 
        |Лучшие номера для вашей работы,
        |отдыха и просто вдохновения
