extends ./../templates/pages-template/pages-template
include ./../../ui-kit/ui-kit
block title
  title search-room-page
block main
  - 
    const room_preview_array = [
      {imgs: ['image0.png','image0.png','image0.png','image0.png'],cost: "9 990₽", lux: true, number: 888, reviews: 145, rate: 5},
      {imgs: ['image1.png','image1.png','image1.png','image1.png'],cost: "9 900₽", lux: false, number: 840, reviews: 65, rate: 4},
      {imgs: ['image2.png','image2.png','image2.png','image2.png'],cost: "8 500₽", lux: true, number: 980, reviews: 35, rate: 3},
      {imgs: ['image3.png','image3.png','image3.png','image3.png'],cost: "7 300₽", lux: false, number: 856, reviews: 19, rate: 5},
      {imgs: ['image4.png','image4.png','image4.png','image4.png'],cost: "6 000₽", lux: false, number: 740, reviews: 44, rate: 4},
      {imgs: ['image5.png','image5.png','image5.png','image5.png'],cost: "5 800₽", lux: false, number: 982, reviews: 56, rate: 3},
      {imgs: ['image6.png','image6.png','image6.png','image6.png'],cost: "5 500₽", lux: false, number: 678, reviews: 45, rate: 5},
      {imgs: ['image7.png','image7.png','image7.png','image7.png'],cost: "5 300₽", lux: false, number: 450, reviews: 39, rate: 4},
      {imgs: ['image8.png','image8.png','image8.png','image8.png'],cost: "5 000₽", lux: false, number: 350, reviews: 77, rate: 3},
      {imgs: ['image9.png','image9.png','image9.png','image9.png'],cost: "5 000₽", lux: false, number: 666, reviews: 25, rate: 5},
      {imgs: ['image10.png','image10.png','image10.png','image10.png'],cost: "5 000₽", lux: false, number: 444, reviews: 15, rate: 3},
      {imgs: ['image11.png','image11.png','image11.png','image11.png'],cost: "5 000₽", lux: false, number: 352, reviews: 55, rate: 3}
    ];
  - 
    const richContent = [
      {
        name: 'Широкий коридор',
        description: 'Ширина коридоров в номере не менее 91 см.'
      },
      {
        name: 'Помощник для инвалидов',
        description: 'На 1 этаже вас встретит специалист  и проводит до номера.'
      }
    ];
  - 
    const content = [
      {name: 'Можно курить'},
      {name: 'Можно с питомцами'},
      {name: 'Можно пригласить гостей (до 10 человек)'}
    ];
  -
    const items = [
      'Завтрак',
      'Письменный стол',
      'Стул для кормления',
      'Кроватка',
      'Телевизор',
      'Шампунь',
    ];
  section.search-room-page
    .search-room-page__filters
      .search-room-page__filter
        .search-room-page__filter-inner-wrapper
          +date-dropdown({names: ['даты пребывания в отеле'], isFilterDropDown: true})
          +dropdown({
            h3: 'гости',
            counterNames: [
              'взрослые',
              'дети',
              'младенцы'
            ],
            type: 'guests',
            hasButtons: true,
          })
      .search-room-page__filter
        +range-slider({heading: 'диапазон цены'})
        .search-room-page__cost Стоимость за сутки пребывания в номере
      .search-room-page__filter
        +checkbox-buttons({h3: 'Checkbox Buttons', content})
      .search-room-page__filter
        +checkbox-buttons({h3: 'доступность', content: richContent, isRichButtons: true})
      .search-room-page__filter
        +dropdown({
          h3:'удобства номера',
          counterNames: [
            'спальни',
            'кровати',
            'ванные комнаты'
          ],
          type:'rooms'
        })
      .search-room-page__filter
        +checkbox-list({name: 'дополнительные удобства', items})
    .search-room-page__results
      .search-room-page__heading-wrapper
        +heading({text: 'Номера которые мы для вас подобрали', level: '1'})
      .search-room-page__room-preview-grid
        each room,id in room_preview_array
          +room-preview({room, id})
      .search-room-page__pagination
        +pagination()
