@import './../../../sass/vars.sass'
.block.block__room-details
	.block__row
		.taxes
			display: grid
			grid-gap: 10px
			.tax
				display: grid
				grid-auto-flow: column
				justify-content: space-between
				align-items: start
				.tax__text
					width: 240px
					display: grid
					grid-auto-flow: column
					justify-content: space-between
					align-items: baseline
					.tax__info
						width: 20px
						height: 20px
						border: 1px solid $d25
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						border-radius: 50%
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: $d25
		.total
			display: grid
			grid-template-columns: auto 1fr auto
			align-items: baseline
			grid-gap: 5px
			margin-bottom: 20px
			.total__border
				display: block
				height: 1px
				border-bottom: 1px dashed $d25
		.block__row_inner
			align-items: baseline
			*
				display: inline-block
.block__room-details.room-details__number
	font-family: quicksand
	font-style: normal
	font-weight: bold
	font-size: 14px
	line-height: 17px
	color: $d100
	h3
		color: $p
.block__room-details.room-details__payment
	color: $d50
	.block__room-details.room-details__cost
		font-weight: bold
//---------------datepicker
