@import './../../../sass/vars.sass'
.block.block-room-details
	.block__row
		.tax-list
			display: grid
			grid-gap: 10px
			.tax
				display: grid
				grid-auto-flow: column
				justify-content: space-between
				align-items: start
				.tax__text
					width: 240px
					display: grid
					grid-auto-flow: column
					justify-content: space-between
					align-items: baseline
					.tax__info
						width: 20px
						height: 20px
						border: 1px solid $d25
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						border-radius: 50%
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: $d25
		.block__total
			display: grid
			grid-template-columns: auto 1fr auto
			align-items: baseline
			grid-gap: 5px
			margin-bottom: 20px
			.block__underline
				display: block
				height: 1px
				border-bottom: 1px dashed $d25
		.block__inner-row
			align-items: baseline
			*
				display: inline-block

