mixin room-details()
	.block-room-details
		.block-room-details__row
			.block-room-details__inner-row
				.block-room-details__number
					!= "№ <h1> 888</h1> <h3>люкс</h3>" 
				.block-room-details__payment
					.block-room-details__cost 9 990₽
					=" в сутки"
		.block-room-details__row
			+datedropdown({names: ['прибытие','выезд']})
		.block-room-details__row
			+dropdown({h3:'гости',modifier: 'guest'})
		.block-room-details__row
			.tax-list
				.tax.tax-habitation
					.tax__text 9 990₽ х 4 суток
					.tax__sum 39 960₽
				.tax.tax-services
					.tax__text Сбор за услуги: скидка 2 179₽
						.tax__info i
					| 0₽		
				.tax.tax-extra-services
					.tax__text Сбор за дополнительные услуги
						.tax__info i
					| 300₽
		.block-room-details__row
			.block-room-details__total
				h2 Итого
				.block-room-details__underline
				h2.block-room-details__sum 38 081₽
			+button({text: 'забронировать',modifier: 'arrow'})
