mixin pagination()
	.pagination
		.pagination-list
			.pagination-list__item.pagination-list__item_current 1
			.pagination-list__item 2
			.pagination-list__item 3
			.pagination-list__item ...
			.pagination-list__item 15
			i.material-icons arrow_forward
		.pagination__info 1 – 12 из 100+ вариантов аренды