header
	width: 100%
main
	position: relative
	img
		width: 100%
	.search-block__wrapper
		position: absolute
		top: 70px
		left: 140px
	.tagline
		position: absolute
		width: 297px
		right: 134px
		bottom: 18px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		text-align: right

