$DS: rgba(31, 32, 65, 1)
$DS75: rgba(31, 32, 65, 0.75)
$DS50: rgba(31, 32, 65, 0.5)
$DS25: rgba(31, 32, 65, 0.25)
$DS05: rgba(31, 32, 65, 0.05)
$purple: #BC9CFF
$green: #6FCF97
$grad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)