$d100: rgba(31, 32, 65, 1)
$d75: rgba(31, 32, 65, 0.75)
$d50: rgba(31, 32, 65, 0.5)
$d25: rgba(31, 32, 65, 0.25)
$d5: rgba(31, 32, 65, 0.05)
$p: #BC9CFF
$g: #6FCF97
$lgp: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)