$DS: #1F2041
$DS75: rgba(31, 32, 65, 0.75)
$DS50: rgba(31, 32, 65, 0.5)
$DS25: rgba(31, 32, 65, 0.25)
$DS05: rgba(31, 32, 65, 0.05)
$DS1: rgba(31, 32, 65, 0.1)
$purple: #BC9CFF
$green: #6FCF97
$grad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
$grad25: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%)
$GREEN_GRAD: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)