mixin footer()
  footer
    .footer__inner-wrapper
      .footer__column
        img(src="img/Logo.svg").logo
        | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__column
        +heading({text:'навигация'})
        .footer__column-point О нас
        .footer__column-point Новости
        .footer__column-point Служба поддержки
        .footer__column-point Услуги
      .footer__column
        +heading({text:'о нас'})
        .footer__column-point О сервисе
        .footer__column-point Наша команда
        .footer__column-point Вакансии
        .footer__column-point Инвесторы
      .footer__column
        +heading({text:'служба поддержки'})
        .footer__column-point Соглашения
        .footer__column-point Сообщества
        .footer__column-point Связь с нами
      .footer__column
        +heading({text:'подписка'})
        | Получайте специальные предложения и новости сервиса
        +text-field({placeholder:'Email', material_icons:'arrow_forward', modifier:'with-arrow',iconColor: 'purple'})
    .footer__copyright
      img(src="img/Logo.svg").logo
      | Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__socials
        +fa-icon({icon:'twitter'})
        +fa-icon({icon:'facebook-official'})
        +fa-icon({icon: 'instagram'})
          