mixin footer({withBorder=true, columns=[]} = {})
  footer.footer(class=withBorder ? 'footer_with-border' : '')
    .footer__inner-wrapper
      .footer__column
        +logo()
        | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      each column in columns
        .footer__column
          +heading({text: column.name})
          each link in column.links
            a(href=link.href).footer__column-point=link.name
      .footer__column
        +heading({text: 'подписка'})
        | Получайте специальные предложения и новости сервиса
        +text-field({
          placeholder: 'Email', 
          material_icons: 'arrow_forward', 
          modifier: 'with-arrow',
          iconColor: 'purple'
        })
    .footer__copyright
      .footer__logo-wrapper
        +logo()
      | Copyright © 2018 Toxin отель. Все права зачищены.
      +social-icons()
          