mixin footer()
  footer
    .footer__inner-wrapper
      .footer__column
        img(src="img/Logo.svg").logo
        | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__column
        +heading({text:'навигация'})
        p О нас
        p Новости
        p Служба поддержки
        p Услуги
      .footer__column
        +heading({text:'о нас'})
        p О сервисе
        p Наша команда
        p Вакансии
        p Инвесторы
      .footer__column
        +heading({text:'служба поддержки'})
        p Соглашения
        p Сообщества
        p Связь с нами
      .footer__column
        +heading({text:'подписка'})
        | Получайте специальные предложения и новости сервиса
        +text-field({placeholder:'Email', material_icons:'arrow_forward', modifier:'with-arrow'})
    .footer__copyright
      img(src="img/Logo.svg").logo
      | Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__socials
        +fa-icon({icon:'twitter'})
        +fa-icon({icon:'facebook-official'})
        +fa-icon({icon: 'instagram'})
          