@import './../../sass/vars.sass'
.room-details-page
  &__heading-wrapper
    margin-bottom: 20px

  &__images
    position: relative
    padding-top: calc(485/1440*100%)
    overflow: hidden
    @media (max-width: 992px)
      padding: 0
      display: grid
  &__img
    position: absolute
    top: 0  
    right: 0
    width: calc(100%/1440*461)

  &__img:last-child
    top: 50%
    @media (max-width: 992px)
      margin-top: -2px

  &__img_main
    left: 0
    width: calc(100%*981/1440)

  &__img,
  &__img_main
    @media (max-width: 992px)
      position: static
      width: 100%
      margin-top: -1px



  &__content
    padding: 70px 140px
    display: grid
    grid-template-columns: auto auto
    grid-gap: 70px
    background: white

    @media (max-width: 1280px)
      grid-template-columns: auto
      justify-items: center

    @media (max-width: 768px)
      padding: 5%

  &__information
    display: grid
    grid-template-areas: 'advantages empressions''reviews reviews''rules cancel'
    grid-gap: 30px 70px

    @media (max-width: 992px)
      grid-template-areas: 'advantages''empressions''reviews''rules''cancel'

  &__advantages
    grid-area: advantages

  &__empressions
    grid-area: empressions

  &__empression-chart
    display: flex
    align-items: flex-end

  &__empression-diagramm
    position: relative

  &__empression-votes
    position: absolute
    top: calc(50% - 5px)
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

  &__bullet-list-wrapper
    margin-left: 30px

  &__reviews
    grid-area: reviews

  &__reviews-header
    display: flex
    justify-content: space-between
    align-items: baseline
    p
      font-family: montserrat
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 14px
      color: $d50

  &__comments
    display: grid
    grid-gap: 20px

  &__rules
    grid-area: rules

  &__heading-wrapper
    margin-left: 20px
    
  &__cancel
    grid-area: cancel
