extends ./../templates/template/template
include ./../../ui-kit/ui-kit
block title
  title room-details-page
block main
  - const user = {icon: 'img/users/user1.jpeg',name: 'Мурад Сарафанов',date: '5 дней назад',likes: 12,likeCheck:true,text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'};
  - const user2 = {icon: 'img/users/user2.png',name: 'Патрисия Стёклышкова',date: 'Неделю назад',likes: 2,text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'};
  - const list1 = ['Великолепно','Хорошо','Удовлетворительно','Разочарован'];
  - const list2 = ['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00'];
  - const text = 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.';
  main.room-details-page
    .room-details-page__images
      img(src='img/rd1.png').room-details-page__main-image
      img(src='img/rd2.png')
      img(src='img/rd3.png')
    .room-details-page__content
      .room-details-page__information
        .room-details-page__advantages
          .room-details-page__heading-wrapper
            +heading({text:'Сведения о номере',level:'2'})
          +advantages()
        .room-details-page__empressions
          .room-details-page__heading-wrapper
            +heading({text:'Впечатления от номера',level:'2'})
          .room-details-page__empression-chart
            .room-details-page__empression-diagramm
              +impression-chart()
              .room-details-page__empression-votes
                +heading({text:'260',level:'1',color: 'purple'})
                +heading({text:'голосов',color: 'purple'})
            .room-details-page__bullet-list-wrapper
              +bullet-list({list:list1,modifier:'colored'})
        .room-details-page__reviews
          .room-details-page__reviews-header
            .room-details-page__heading-wrapper
              +heading({text:'Отзывы посетителей номера',level:'2'})
            p 2 отзыва
          .room-details-page__comments
            +comment(user)
            +comment(user2)
        .room-details-page__rules
          .room-details-page__heading-wrapper
            +heading({text:'Правила',level:'2'})
          +bullet-list({list:list2})
        .room-details-page__cancel
          .room-details-page__heading-wrapper
            +heading({text:'Отмена',level:'2'})
          .room-details-page__cancel-text #{text}
      .room-details-page__card
        +room-details()

