mixin checkbox-list(name)
	.checkbox-list
		.checkbox-list__header
			h3.checkbox-list__name= name
			i.material-icons expand_more
		ul.checkbox-list__inner(style="display: none")
			li
				.checkbox 
				| Завтрак
			li
				.checkbox
				| Письменный стол
			li
				.checkbox
				| Стул для кормления
			li
				.checkbox
				| Кроватка
			li
				.checkbox
				| Телевизор
			li
				.checkbox
				| Шампунь