include ./../checkbox/checkbox
mixin checkbox-list({name})
	.checkbox-list
		.checkbox-list__header
			+heading({text:name,level:'3'})
			+icon({})
		.checkbox-list__wrapper(style="display: none")
			.checkbox-list__item
				+checkbox()
				| Завтрак
			.checkbox-list__item
				+checkbox()
				| Письменный стол
			.checkbox-list__item
				+checkbox()
				| Стул для кормления
			.checkbox-list__item
				+checkbox()
				| Кроватка
			.checkbox-list__item
				+checkbox()
				| Телевизор
			.checkbox-list__item
				+checkbox()
				| Шампунь