@import './../../../sass/vars.sass'
$cb: checkbox-list
.checkbox-list
  width: 100%
  color: $d50

  &__expand
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center

  &__header
    width: 100%
    justify-content: space-between
    display: flex
    align-items: center

  &__article
    margin-left: 10px

  &__item
    margin-bottom: 5px
    display: flex
    align-items: center
    
.#{$cb}.#{$cb}_expanded
  .#{$cb}__header
    i
      transform: rotate(180deg)