mixin checkbox-list({name, items=[],isOpened} = {})
  .js-checkbox-list.checkbox-list(data-opened=isOpened?`${isOpened}`:null)
    .checkbox-list__header
      +heading({text: name, level: '3'})
      .checkbox-list__expand.js-checkbox-list__expand
        +icon()
    .checkbox-list__wrapper.js-checkbox-list__wrapper
      each item in items
        .checkbox-list__item
          +checkbox()
          .checkbox-list__article.js-checkbox-list__article=item
      