mixin checkbox-list({name})
	.checkbox-list
		.checkbox-list__header
			+heading({text:name,level:'3'})
			.checkbox-list__expand
				+icon()
		.checkbox-list__wrapper(style="display: none")
			.checkbox-list__item
				+checkbox()
				.checkbox-list__article Завтрак
			.checkbox-list__item
				+checkbox()
				.checkbox-list__article Письменный стол
			.checkbox-list__item
				+checkbox()
				.checkbox-list__article Стул для кормления
			.checkbox-list__item
				+checkbox()
				.checkbox-list__article Кроватка
			.checkbox-list__item
				+checkbox()
				.checkbox-list__article Телевизор
			.checkbox-list__item
				+checkbox()
				.checkbox-list__article Шампунь