@import './../../../sass/vars.sass'
.checkbox-list
  width: 100%
  color: $d50

  &__expand
    min-width: 44px
    min-height: 44px
    display: flex
    justify-content: center
    align-items: center

  &__header
    width: 100%
    justify-content: space-between
    display: flex
    align-items: center

  &__article
    margin-left: 10px

  &__item
    margin-bottom: 5px
    display: flex
    align-items: center
    
  &_expanded &__expand
      transform: rotate(180deg)