mixin textfield({placeholder,material_icons,modifier})
	div(class={'subscription-text-field': modifier==='subscription','masked-text-field js-masked-text-field': modifier==='masked','text-field': modifier===undefined})
		input(placeholder= placeholder)
		if material_icons
			i.material-icons= material_icons