mixin datedropdown(name)
	.date--dropdown
		h3= name
		.form--element__wrapper
			input(placeholder='дд.мм.гггг').form--element.js-date.masked--textfield
			i.material-icons expand_more
mixin masked_textfield()
	.form--element__wrapper
		input(placeholder='дд.мм.гггг').form--element.js-date.masked--textfield
mixin datedropdowns(name1,name2)
	.date--dropdown__wrapper
		.date--dropdown__datepicker
		+datedropdown(name1)
		+datedropdown(name2)