@mixin df
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
.form--elements
	display: grid
	grid-gap: 30px
	padding: 10px
	.element
		display: grid
		grid-gap: 15px
		min-height: 44px
@import './dropdown/dropdown'
@import './guest_dropdown/guest_dropdown'
@import './date_dropdown/date_dropdown'
@import './checkbox_buttons/checkbox_buttons'
@import './rich_checkbox_buttons/rich_checkbox_buttons'
@import './expandable_ckb_list/expandable_ckb_list'
@import './slider/slider'
@import './bullet_list/bullet_list'
@import './radio_buttons/radio_buttons'
@import './toggle/toggle'
@import './like_button/like_button'
@import './rate_button/rate_button'
@import './buttons/buttons'
@import './text_field/text_field'
@import './advantages/advantages'
@import './comment/comment'
@import './pagination/pagination'
@import './subscription_text_field/subscription_text_field'
