include ./../../ui_kit/ui_kit
- var user = {icon: 'img/users/user1.jpeg',name: 'Мурад Сарафанов',date: '5 дней назад',likes: 11,text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title form elements
body
	a(href="index.html") home
	.form--elements
		.element
			h3 text field
			+textfield('Email')
		.element
			+datedropdowns('date dropdown','date dropdown')
		.element
			+filter_date_dropdown('filter date dropdown')
		.element
			h3 masked text field
			+masked_textfield()
		.element
			h3 subscription text field
			+subscription()
		.element
			+dropdown('dropdown')
		.element
			+guestdropdown('dropdown')
		.element
			+ckblist('expandable checkboxlist')
		.element
			+rich_ckbbtns('Rich Checkbox Buttons')
		.element
			+ckbbtns('Checkbox Buttons')
		.element
			h3 bullet list
			+bulletlist(['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00'])
		.element
			h3 radio buttons
			+radio()
		.element
			h3 toggle
			+toggle()
		.element
			h3 like button
			+like(12)
		.element
			h3 rate buttons
			+rate(3)
		.element
			h3 rate buttons
			+rate(4)
		.element
			+slider('range slider')
		.element
			h3 buttons
			+btn('click me')
		.element
			+btn('click me')
		.element
			+btn_bd('click me')
		.element
			+btn_wide('перейти к оплате',true)
		.element
			.advantages
				+advantage('Комфорт','Шумопоглощающие стены','insert_emoticon')
				+advantage('Удобство','Окно в каждой из спален','location_city')
		.element
			+comment(user)
		.element
			h3  pagination
			+pagination()
