mixin comment({icon,name,date,likes,likeCheck,text})
  .comment
    .comment__icon
      img(src= icon)
    .comment__info
      .comment__username= name
      .comment__date= date
    .comment__like
      +like({likes,checked: likeCheck})
    .comment__text= text