mixin comment(user)
	.comment
		.comment__icon
			img(src= user.icon)
		.comment__info
			.comment__username= user.name
			.comment__date= user.date
		.comment__like
			+like(user.likes,user.likeCheck)
		.comment__text= user.text