mixin rich_ckbox_btns(text)
	.rich_checkbox_buttons
		h3= text
		ul
			li
				.ckbox_wrapper
					.ckbox
					.check
				.rich_checkbox_buttons__option Широкий коридрор
					.specify Ширина коридоров в номере не менее 91 см.
			li
				.ckbox_wrapper
					.ckbox
					.check
				.rich_checkbox_buttons__option Помощник для инвалидов
					.specify На первом этаже вас встретит специалист и проводит до номера.
