mixin radio()
  .radio
    label.radio__male
      input(type="radio" name="gender" checked)
      .radio__btn
      .radio__text Мужчина
    label.radio__female
      input(type="radio" name="gender")
      .radio__btn
      .radio__text  Женщина