mixin radio()
  .radio
    label.radio__label
      input(type="radio" name="gender" checked).radio__input
      .radio__btn
      .radio__text Мужчина
    label.radio__label
      input(type="radio" name="gender").radio__input
      .radio__btn
      .radio__text  Женщина