mixin sign-in()
	.block-sign-in.js-block-sign-in
		.block-sign-in__row
			h1 Войти
		.block-sign-in__row
			+text-field({placeholder:'Email'})
			+text-field({placeholder:'Пароль'})
		.block-sign-in__row
			.block-sign-in__sign-in-button.js-block-sign-in__sign-in-button
				+button({text: 'войти',modifier: 'arrow'})
		.block-sign-in__row
			.block-sign-in__inner-row
				| Нет аккаунта на Toxin
				.block-sign-in__button-create.js-block-sign-in__button-create
					+button({text: 'создать',modifier: 'border'})

