mixin sign_in()
	.block.block-sign-in
		.block__row
			h1 Войти
		.block__row
			+textfield({placeholder:'Email'})
			+textfield({placeholder:'Пароль'})
		.block__row
			.js-sign-in-btn
				+btn({text: 'войти',modifier: 'arrow'})
		.block__row
			.block__inner-row
				| Нет аккаунта на Toxin
				.js-btn-create
					+btn({text: 'создать',modifier: 'border'})

