mixin registration()
	.block-registration
		.block__row
			h1 Регистрация аккаунта
		.block__row
			+textfield({placeholder: 'Имя'})
			+textfield({placeholder: 'Фамилия'})
			+radio()
		.block__row
			h3 дата рождения
			+textfield({placeholder:'дд.мм.гггг',modifier: 'masked'})
		.block__row
			h3 данные для входа в сервис
			+textfield({placeholder: 'Email'})
			+textfield({placeholder: 'Пароль'})
			+toggle()
		.block__row
			+btn({text: 'перейти к оплате',modifier: 'arrow'})
		.block__row
			.block__inner-row
				|Уже есть аккаунт на Toxin
				.js-sign-in
					+btn({text: 'войти',modifier: 'border'})
