mixin registration()
	.block.block__registration
		.block__row
			h1 Регистрация аккаунта
		.block__row
			+textfield({placeholder: 'Имя'})
			+textfield({placeholder: 'Фамилия'})
			+radio()
		.block__row
			h3 дата рождения
			+textfield({placeholder:'дд.мм.гггг',modifier: 'masked'})
		.block__row
			h3 данные для входа в сервис
			+textfield({placeholder: 'Email'})
			+textfield({placeholder: 'Пароль'})
			+toggle()
		.block__row
		.block__row
			.block__row_inner
				|Уже есть аккаунт на Toxin
				.js-sign-in
