mixin registration()
	.block-registration
		.block-registration__row
			h1 Регистрация аккаунта
		.block-registration__row
			+textfield({placeholder: 'Имя'})
			+textfield({placeholder: 'Фамилия'})
			+radio()
		.block-registration__row
			h3 дата рождения
			+textfield({placeholder:'дд.мм.гггг',modifier: 'masked'})
		.block-registration__row
			h3 данные для входа в сервис
			+textfield({placeholder: 'Email'})
			+textfield({placeholder: 'Пароль'})
			+toggle()
		.block-registration__row
			+btn({text: 'перейти к оплате',modifier: 'arrow'})
		.block-registration__row
			.block-registration__inner-row
				|Уже есть аккаунт на Toxin
				.block-registration__sign-in-button.js-block-registration__sign-in-button
					+btn({text: 'войти',modifier: 'border'})
