@import './../../../sass/vars.sass'
.heading
  font-family: quicksand,montserrat
  font-style: normal
  font-weight: bold
  color: $d100

  h1
    font-size: 24px
    line-height: 30px

  h2
    font-size: 19px
    line-height: 24px
    
  h3
    font-family: montserrat
    font-size: 12px
    line-height: 15px
    text-transform: uppercase

.heading_color
  &_white
    h1,
    h2,
    h3
      color: #fff

  &_purple
    h1,
    h2,
    h3
      color: $p
      
  &_grey
    h1,
    h2,
    h3
      color: $d50