extends ./../../ui-kit/templates/index/index
include ./../../ui-kit/ui-kit
block title
  title form-elements
block content
  - var user = {icon: 'img/users/user1.jpeg',name: 'Мурад Сарафанов',date: '5 дней назад',likes: 11,text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',likeCheck: true}
  - var richContent = [{name: 'Широкий коридор',description: 'Ширина коридоров в номере не менее 91 см.'},{name: 'Помощник для инвалидов',description: 'На 1 этаже вас встретит специалист  и проводит до номера.'}]
  - var content = [{name: 'Можно курить'},{name: 'Можно с питомцами'},{name: 'Можно пригласить гостей<br>(до 10 человек)'}]
  .form-elements
    .form-elements__list
      .form-elements__item
        +heading({text:'text field',level:'3'})
        +text-field({placeholder: 'Email'})
      .form-elements__item
        +date-dropdown({names: ['date dropdown','date dropdown']})
      .form-elements__item
        +date-dropdown({names:['filter date dropdown'],modifier: 'filter'})
      .form-elements__item
        +heading({text:'masked text field'})
        +text-field({placeholder:'дд.мм.гггг',modifier: 'masked'})
      .form-elements__item
        +heading({text:'subscription text field'})
        +text-field({placeholder:'Email', material_icons:'arrow_forward', modifier:'with-arrow',iconColor: 'purple'})
      .form-elements__item
        +dropdown({h3:'dropdown'})
      .form-elements__item
        +dropdown({h3:'dropdown',modifier: 'guest'})
      .form-elements__item
        +checkbox-list({name:'expandable checkboxlist'})
      .form-elements__item
        +checkbox-buttons({h3:'Rich Checkbox Buttons',content: richContent,modifier: 'rich'})
      .form-elements__item
        +checkbox-buttons({h3: 'Checkbox Buttons',content})
      .form-elements__item
        +heading({text:'bullet list'})
        +bullet-list({list:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})
      .form-elements__item
        +heading({text:'radio buttons'})
        +radio()
      .form-elements__item
        +heading({text:'toggle'})
        +toggle()
      .form-elements__item
        +heading({text:'like button'})
        +like({likes:12})
      .form-elements__item
        +heading({text:'rate buttons'})
        +rate({num:3})
      .form-elements__item
        +heading({text:'rate buttons'})
        +rate({num:4})
      .form-elements__item
        +range-slider('range slider')
      .form-elements__item
        +heading({text:'buttons'})
        .form-elements__group
          +button({text:'click me',color: 'white'})
          +button({text:'click me',modifier: 'border',color: 'purple'})
          +button({text:'click me',modifier: 'no-bg',color: 'purple'})
          +button({text:'click me',modifier: 'no-bg',color:'grey'})
          +button({text:'перейти к оплате',modifier: 'arrow',color: 'white'})
      .form-elements__item
        +advantages()
      .form-elements__item
        +comment(user)
      .form-elements__item
        +heading({text:'pagination'})
        +pagination()
