mixin radio()
	.radio
		label.male
			input(type="radio" name="gender" checked)
			.radio--btn
			.label__text Мужчина
		label.female
			input(type="radio" name="gender")
			.radio--btn
			.label__text  Женщина