.links
	a
		display: inline-block
		margin-left: 30px
.header_footer_wrapper
	display: grid
	grid-gap: 40px
	
	.header
		width: 100vw
		padding: 15px 140px
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex
		justify-content: space-between
		.logo
			display: -webkit-inline-flex
			display: -moz-inline-flex
			display: -ms-inline-flex
			display: -o-inline-flex
			display: inline-flex
			align-items: center
			.logo_img
				display: block
				position: relative
				height: 40px
				width: 40px
				.left_arc
					left: 9.1px
					top: 15.29px
					position: absolute
					// width: 11.76px
					// height: 11.76px
				.right_arc
					top: 15.29px
					right: 9.1px
					position: absolute
					// width: 9.12px
					// height: 5.91px
			.logo_name
				display: block
				margin-left: 12.5px
		nav.header_menubar
			ul
				display: grid
				grid-template-columns: repeat(7,max-content)
				list-style-type: none
				margin: 0px
				grid-gap: 30px
				li.menubar_item
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: space-between
					align-items: center
					a
						display: -webkit-inline-flex
						display: -moz-inline-flex
						display: -ms-inline-flex
						display: -o-inline-flex
						display: inline-flex
						justify-content: center
						align-items: center
				li.menubar_item:first-child
					width: max-content

						


					
