mixin text-field({placeholder,material_icons,modifier,iconColor='gradient'})
  .text-field(class=modifier?'text-field_'+modifier:'')
    input(placeholder= placeholder)
    if material_icons
      .text-field__icon-wrapper
        +icon({icon: material_icons,color: iconColor})