@import './../../../sass/vars.sass'
.text-field
  position: relative
  width: 100%

  &__header
    margin-bottom: 5px
    margin-left: 1px
    
  input
    height: 100%
    width: 100%
    color: $d75
    display: flex
    align-items: center
    border: 0
    border-radius: 4px
    outline: 0
    background: 0
    &::placeholder
      color: $d25

  &__input-wrapper
    height: 44px
    width: 100%
    border: 1px solid $d25
    border-radius: 4px
    padding-left: 15px
    color: $d75
    display: flex
    align-items: center
    &:hover,
    &:focus
      border: 1px solid $d50
      outline: 0    

  &__icon-wrapper
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center
    
  &_with-arrow
    width: 100%
    position: relative
    