mixin text-field({placeholder,material_icons,modifier,iconColor,text})
  .text-field(class={
    'text-field_with-arrow':modifier==='with-arrow',
    'text-field_masked js-text-field_masked': modifier==='masked'
    })
    .text-field__header
      +heading({text})
    input(placeholder= placeholder)
    if material_icons
      .text-field__icon-wrapper.js-text-field__icon-wrapper
        +icon({icon: material_icons,color: iconColor})