@import './../../../sass/vars.sass'
.text-field
  width: 100%
  position: relative
  input
    border: 1px solid $d25
    border-radius: 4px
    padding-left: 15px
    height: 44px
    width: 100%
    color: $d75
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    &::placeholder
      color: $d25
    &:hover,
    &:focus
      border: 1px solid $d50
      outline: 0
  &__icon-wrapper
    position: absolute
    right: 0
    top: 0
    width: 44px
    height: 44px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: center
    align-items: center
  &_with-arrow
    width: 100%
    position: relative
    