mixin button({text,modifier})
	.button(class={'button_with-no-bg': modifier==='no-bg','button_with-border': modifier==='border','button_with-arrow': modifier==='arrow','button_grey': modifier==='grey'})
		h3= text
		if modifier=='arrow'
			i.material-icons arrow_forward
