include ./../advantage/advantage
mixin advantages()
	.advantages
		+advantage('Комфорт','Шумопоглощающие стены','insert_emoticon')
		+advantage('Удобство','Окно в каждой из спален','location_city')
		+advantage('Уют','Номер оснащён камином','whatshot')