@import './../../../sass/vars.sass'
.date-dropdown
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 20px
	position: relative
	.date-dropdown-datepicker
		position: absolute
	.date-dropdown__display
		h3
			margin-bottom: 5px
.date-dropdown.filter-date-dropdown
	grid-template-columns: 1fr
.date-dropdown
	.date-dropdown-datepicker
		position: absolute
		left: 0
		top: calc(100% + 5px)
		z-index: 10
.datepicker--cell.datepicker--cell-day
	width: 40px
	height: 40px
	color: $d50
	font-size: 12px
	line-height: 15px
.datepicker--cell.datepicker--cell-day.-other-month-
	color: $d25
.datepicker--cell.datepicker--cell-day.-selected-,
.datepicker--cell.datepicker--cell-day.-current-
	color: #fff
	font-weight: bold
	border-radius: 50%
.datepicker--cell.datepicker--cell-day.-current-
	background: $lgg
.datepicker--cell.datepicker--cell-day.-selected-
	background: $lgp
.datepicker--cell.datepicker--cell-day.-in-range-
	background: $lgp25
.datepicker--cell.datepicker--cell-day.-range-from-.-selected-,
.datepicker--cell.datepicker--cell-day.-range-to-.-selected-
	position: relative
	&:before
		z-index: -1
		content: ''
		display: block
		width: 100%
		height: 100%
		border-top-left-radius: 50%
		border-bottom-left-radius: 50%
		background: $lgp25
		left: 0
		top: 0
		position: absolute
.datepicker--cell.datepicker--cell-day.-range-to-.-selected-:before
	border-radius: 0
	border-top-right-radius: 50%
	border-bottom-right-radius: 50%
.datepicker--days-names
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
.datepicker--day-name
	max-width: 40px
	height: 40px
	font-family: montserrat
	font-style: normal
	font-weight: bold
	font-size: 12px
	line-height: 15px
	display: flex
	align-items: center
	text-align: center
	color: $p
	text-transform: none
.datepicker
	width: 320px
	border: 1px solid rgba(31, 32, 65, 0.25)
	box-sizing: border-box
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
	border-radius: 4px
	padding: 19px
.datepicker--cells.datepicker--cells-days
	justify-content: start
.datepicker--content,
.datepicker--nav
	padding: 0
.datepicker--nav
	border: 0
	min-height: 24px
	margin-bottom: 30px
.datepicker--nav-action
	color: $p
	font-size: 24px
	line-height: 20px
.datepicker--buttons
	border: 0
	justify-content: space-between
	margin-top: 20px
	padding: 0