include ./../text_field/text_field
mixin datedropdown({names,modifier})
	.date-dropdown.js-date-dropdown(class=modifier?modifier+'-date-dropdown':'')
		.date-dropdown-datepicker
		each name in names
			.date-dropdown__display
				h3= name
				+textfield({placeholder:'дд.мм.гггг', material_icons:'expand_more', modifier: 'masked'})
