@font-face 
  font-family: 'montserrat'
  font-style: normal
  font-weight: 400
  src: url('./fonts/montserrat/montserrat.svg') format('svg')
  src: url('./fonts/montserrat/montserrat.woff') format('woff')
  src: url('./fonts/montserrat/montserrat.ttf') format('truetype')
@font-face 
  font-family: 'montserrat'
  font-style: bold
  font-weight: 700
  src: url('./fonts/montserrat/montserrat-Bold.svg') format('svg')
  src: url('./fonts/montserrat/montserrat-Bold.woff') format('woff')
  src: url('./fonts/montserrat/montserrat-Bold.ttf') format('truetype')
@font-face 
  font-family: 'quicksand'
  font-style: normal
  font-weight: 400
  src: url('./fonts/quicksand/Quicksand-Regular.svg') format('svg')
  src: url('./fonts/quicksand/Quicksand-Regular.woff') format('woff')
  src: url('./fonts/quicksand/Quicksand-Regular.ttf') format('truetype')
@font-face 
  font-family: 'quicksand'
  font-style: bold
  font-weight: 700
  src: url('./fonts/quicksand/Quicksand-Bold.svg') format('svg')
  src: url('./fonts/quicksand/Quicksand-Bold.woff') format('woff')
  src: url('./fonts/quicksand/Quicksand-Bold.ttf') format('truetype')
@font-face 
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url('./fonts/materialicons/materialicons.svg') format('svg')
  src: url('./fonts/materialicons/materialicons.woff') format('woff')
  src: url('./fonts/materialicons/materialicons.ttf') format('truetype')
