mixin ckboxbuttons(text)
	.ckbox_buttons
		.text= text
		ul
			each i in ["можно курить","можно с питомцами","можно пригласить гостей<br>(до 10 человек)"]
				li
					.ckbox_wrapper
						.ckbox
						.check
					.inner_text!= i

mixin radiobuttons()
	.radio
		input(type="radio" id="male" name="radiobuttons")
		.radiobutton
		label(for="male") Мужчина
		input(type="radio" id="female" name="radiobuttons")
		.radiobutton
		label(for="female") Женщина
mixin toggle()
	.toggle_wrapper
		input(type="checkbox" id="offer" checked)
		label(for="offer") Получать спецпредложения
			.toggleButton
mixin like()
	.like_wrapper
		.like
			i.material-icons favorite_border 
			.number 99
mixin rate(num)
	.wrapper
		.rate
			- var n = 0;
			- var m = 0;
				ul
					while n < num
						li
							.counter= n++
							i.material-icons star	
					while m < 5-n
						li
							.counter= m++
							i.material-icons star_border
				

		