mixin ckboxbuttons(text)
	.ckbox_buttons
		.text= text
		ul
			each i in ["можно курить","можно с питомцами","можно пригласить гостей<br>(до 10 человек)"]
				li
					.ckbox_wrapper
						.ckbox
						.check
					.inner_text!= i

mixin radiobuttons()
	.radio
		input(type="radio" id="male" name="radiobuttons")
		.radiobutton
		label(for="male") Мужчина
		input(type="radio" id="female" name="radiobuttons")
		.radiobutton
		label(for="female") Женщина


