mixin text_input(placeholderText,MaterialIcons,classname,dropdownClass)
	div(class="text_field")
		if classname!= "dropdown"
			input(class="text_field__"+classname, placeholder=""+placeholderText)
			if MaterialIcons
				i.material-icons= MaterialIcons
		else
			input(class="text_field__"+classname, placeholder=""+placeholderText disabled)
			if MaterialIcons
				i.material-icons= MaterialIcons
			div(class=""+classname+"_"+dropdownClass+"__wrapper")
				div(class=""+classname+"_"+dropdownClass)

