extends ./../templates/ui-kit-template/ui-kit-template
block title
  title index
block content
  nav.router
    a(href="pages/colors-and-types.html") colors-and-types
    a(href="pages/form-elements.html") form elements
    a(href="pages/cards.html") cards
    a(href="pages/headers-and-footers.html") headers and footers
    a(href="pages/landing-page.html") landing_page
    a(href="pages/search-room-page.html") search_room_page
    a(href="pages/room-details-page.html") room_details_page
    a(href="pages/sign-in-page.html") sign_in

