extends ./../templates/ui-kit-template/ui-kit-template
block title
  title index
block content
  nav.router
    a(href="form-elements.html") form elements
    a(href="cards.html") cards
    a(href="headers-and-footers.html") headers and footers
    a(href="landing-page.html") landing_page
    a(href="search-room-page.html") search_room_page
    a(href="room-details-page.html") room_details_page
    a(href="sign-in-page.html") sign_in

