mixin room-search()
  .room-search
    .room-search__row
      +heading({level:'1',text:'Найдём номера под ваши пожелания'})
    .room-search__row
      +date-dropdown({names: ['прибытие','выезд']})
    .room-search__row
      +dropdown({h3:'гости',modifier: 'guest'})
    .room-search__row
      +button({text: 'подобрать номер',type: 'with-arrow'})
