mixin room_details()
	.block.block__room--details
		.block__row
			.block__row_inner
				.block__room--details__number
					!= "№ <h1> 888</h1> <h3>люкс</h3>" 
				.block__room--details__payment
					.block__room--details__cost 9 990₽
					=" в сутки"
		.block__row
			+datedropdowns('прибытие','выезд')
		.block__row
			h3 гости
			+guestdropdown()
		.block__row
			.taxes
				.tax.tax__habitation
					.tax__text 9 990₽ х 4 суток
					| 39 960₽
				.tax.tax__services
					.tax__text Сбор за услуги: скидка 2 179₽
						.tax__info i
					| 0₽		
				.tax.tax__extra--services
					.tax__text Сбор за дополнительные услуги
						.tax__info i
					| 300₽
		.block__row
			.total
				h2 Итого
				.total__border
				h2.total__sum 38 081₽
			+btn_wide('забронировать',true)