mixin sign_in()
	.block.block__sign--in
		.block__row
			h1 Войти
		.block__row
			+textfield('Email')
			+textfield('Пароль')
		.block__row
			.js-sign--in--btn
				+btn_wide('войти',true)
		.block__row
			.block__row_inner
				| Нет аккаунта на Toxin
				.js-create
					+btn_bd('создать')