@import './../../sass/vars.sass'
.cards__wrapper
	padding: 10px
	display: grid
	grid-template-columns: repeat(auto-fit,380px)
	grid-gap: 40px
	.cards__column
		width: min-content
		display: grid
		grid-gap: 40px
		height: min-content
.block
	background: white
	border: 1px solid rgba(0, 0, 0, 0.12)
	box-sizing: border-box
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
	border-radius: 4px
	padding: 40px 30px 30px
	width: 380px
	.block__row:not(:first-child)
		margin-top: 20px
	.block__row
		display: grid
		grid-gap: 5px
	.block__row:last-child
		margin-top: 30px
		.block__inner-row
			color: $d100
	.toxin-btn
		height: 44px
.block__inner-row
	display: grid
	grid-auto-flow: column
	align-items: center
	font-size: 14px
	line-height: 18px
	justify-content: space-between
	z-index: 1
	.toxin-btn
		width: 99px
.block__number
	font-family: quicksand
	font-style: normal
	font-weight: bold
	font-size: 14px
	line-height: 17px
	color: $d100
	h3
		color: $p
.block__payment,
.block__reviews
	color: $d50
	.block__cost,
	.block__reviews-amount
		font-weight: bold

