mixin room_search()
	.block.block__room-search
		.block__row
			h1 Найдём номера под ваши пожелания
		.block__row
			+datedropdown({names: ['прибытие','выезд']})
		.block__row
			+guestdropdown('гости')
		.block__row
