mixin room_search()
	.block-room-search
		.block-room-search__row
			h1 Найдём номера под ваши пожелания
		.block-room-search__row
			+datedropdown({names: ['прибытие','выезд']})
		.block-room-search__row
			+dropdown({h3:'гости',modifier: 'guest'})
		.block-room-search__row
			+btn({text: 'подобрать номер',modifier: 'arrow'})
