mixin ckboxbuttons(text)
	.ckbox_buttons
		h3= text
		ul
			each i in ["можно курить","можно с питомцами","можно пригласить гостей<br>(до 10 человек)"]
				li
					.ckbox_wrapper
						.ckbox
						.check
					.inner_text!= i