.header
	.logo
		.logo_img
			img(src="./img/logo_img_border.svg")
			img.left_arc(src="./img/left_logo_arc.svg")
			img.right_arc(src="./img/right_logo_arc.svg")
		.logo_name
			img(src="./img/toxin_logo.svg")
	nav.header_menubar
		ul
			li.menubar_item
				a(href="#") О нас
			li.menubar_item
				a(href="#") Услуги
					i.material-icons expand_more
			li.menubar_item
				a(href="#") Вакансии
			li.menubar_item
				a(href="#") Новости
			li.menubar_item
				a(href="#") Соглашения
					i.material-icons expand_more
			li.menubar_item
				a(href="#")
					+borderbutton("войти")
			li.menubar_item
				a(href="#")
					+purplebutton("зарегистрироваться")
			