include ../pug/textfield
include ../pug/dropdown
include ../pug/expandableChekboxList
include ../pug/buttons
include ../pug/guest
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	.wrapper
		.links
			a(href="cards.html") cards
			a(href="index.html") index
			a(href="landingPage.html") lp
		.header_footer_wrapper
			include _header
			include _footer