<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="description" content="toxin")
  meta(name="keywords" content="toxin")
  block title
body
  block content
