mixin room-preview(room,id)
	.room-preview
		.room-preview__row
			.carousel.slide(data-ride='true' id="carouselExampleIndicators"+id)
				ol.carousel-indicators
					each v,i in room.imgs
						if i==0
							li(data-target='#carouselExampleIndicators'+id data-slide-to=i class="active")
						else
							li(data-target='#carouselExampleIndicators'+id data-slide-to=i)
				.carousel-inner
					each v,i in room.imgs
						if i==0
							.carousel-item.active
								img.d-block.w-100(src='img/preview/'+v alt='First slide')
						else
							.carousel-item
								img.d-block.w-100(src='img/preview/'+v alt='First slide')
				a.carousel-control-prev(href='#carouselExampleIndicators'+id role='button' data-slide='prev')
					i.material-icons(aria-hidden='true') expand_more
				a.carousel-control-next(href='#carouselExampleIndicators'+id role='button' data-slide='next')
					i.material-icons(aria-hidden='true') expand_more
		.room-preview__row
			.room-preview__inner-row
				.room-preview__number
					!= "№ "
					+heading({text:room.number,level:'1'})
					if room.lux
						+heading({text:'люкс'})
				.room-preview__payment
					.room-preview__cost= room.cost
					=" в сутки"
			.room-preview__divider
			.room-preview__inner-row
				+rate(room.rate)
				.room-preview__reviews
					.room-preview__reviews-amount= room.reviews
					=" отзывов"
