include ./../ui_kit/ui_kit
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title form elements
body
	.form--elements
		.element
			h3 text field
			+textfield('Email')
		.element
			+datedropdown()
		.element
			+subscription()
		.element
			+dropdown()
		.element
			+guestdropdown()
		.element
			+ckblist('epandable checkboxlist')
		.element
			h3 Rich Checkbox Buttons
			+rich_ckbbtns()
		.element
			h3 Checkbox Buttons
			+ckbbtns()
		.element
			h3 bullet list
			+bulletlist()
		.element
			h3 radio buttons
			+radio()
		.element
			h3 toggle
			+toggle()