include ./../ui_kit/ui_kit
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	a(href="index.html") home
	.hf__wrapper
		.hf
			+header(false)
		.hf
			+header(true)
		.hf
			+footer()
		