include ./../ui_kit/ui_kit
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title landing page
body
	+header(false)
	section.search--room--page
		.search--room--page__filters
			.search--room--page__filter
				+filter_date_dropdown('даты пребывания в отеле')
			.search--room--page__filter
				+guestdropdown('гости')
			.search--room--page__filter
				+slider('диапазон цены')
			.search--room--page__filter
				h3 Checkbox Buttons
				+ckbbtns()
			.search--room--page__filter
				h3 доступность
				+rich_ckbbtns()
			.search--room--page__filter
				+dropdown('удобства номера')
			.search--room--page__filter
				+ckblist('дополнительные удобства')
	+footer()
