mixin advantages()
	.advantages
		+advantage({name:'Комфорт',description:'Шумопоглощающие стены',icon:'insert_emoticon'})
		+advantage({name:'Удобство',description:'Окно в каждой из спален',icon:'location_city'})
		+advantage({name:'Уют',description:'Номер оснащён камином',icon:'whatshot'})
		