include ./../../ui-kit/ui-kit
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title landing page
body
  +header(false)
  section.sign-in-page
    +registration()
    +sign-in()
  +footer()
