extends ./../templates/template/template
include ./../../ui-kit/ui-kit
block title
  title sign-in-page
block main
  section.sign-in-page
    .sign-in-page__wrapper
      +registration()
    .sign-in-page__wrapper
      +sign-in()
