section.sign-in-page
  min-height: 684px
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  background: url('./../../img/sign_in.png')
  
  &__wrapper
    width: 100%
    display: block
    