mixin advantage({icon,name,description,border=false}={})
  .advantage(class={'advantage_with-border': border})
    +icon({
      icon,
      color: 'gradient',
      font: 'big'
      })
    .advantage__info
      .advantage__name= name
      .advantage__descr= description