@import './../../../sass/vars.sass'
.advantage
  display: grid
  grid-auto-flow: column
  grid-gap: 10px
  border-bottom: 1px solid $d1
  padding-bottom: 20px
  padding-right: 20px
  &:last-child
    border: 0
    padding-bottom: 0
  &__info
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
  &__name
    font-weight: bold
