@import './../../../sass/vars.sass'
.advantage
  display: grid
  grid-auto-flow: column
  padding-bottom: 20px
  padding-right: 20px
  border-bottom: 1px solid $d1
  grid-gap: 10px

  &:last-child
    padding-bottom: 0
    border: 0

  &__info
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    
  &__name
    font-weight: bold
