extends ./../templates/index/index
include ./../../ui-kit/ui-kit
block title
  title headers-and-footers
block content
  .headers-and-footers
    .headers-and-footers__item
      +header({signed: false})
    .headers-and-footers__item
      +header({signed: true})
    .headers-and-footers__item
      +footer()
    