mixin guestdropdown(h3)
	.dropdown__wrapper
		h3= h3
		.form-element__wrapper.dropdown.guest-dropdown
			.form-element
			i.material-icons expand_more
			.dropdown-menu.form-element(style="display: none")
				.dropdown-menu__row
					h3 взрослые
					.counter
						.counter-button.minus -
						h3.counter-button.value 0
						.counter-button.plus +
				.dropdown-menu__row
					h3 дети
					.counter
						.counter-button.minus -
						h3.counter-button.value 0
						.counter-button.plus +
				.dropdown-menu__row
					h3 младенцы
					.counter
						.counter-button.minus -
						h3.counter-button.value 0
						.counter-button.plus +
				.dropdown-menu__row
					.clear
						+btn_text('очистить',true)
					.apply
						+btn_text('применить')