mixin guestdropdown(h3)
	.guest-dropdown
		h3= h3
		.guest-dropdown__body.js-guest-dropdown__body
			.dropdown-display.js-dropdown-display
			i.material-icons expand_more
			.dropdown-menu.js-dropdown-menu(style="display: none")
				.dropdown-menu__row
					h3 взрослые
					.counter
						.counter-button.minus.js-minus -
						h3.counter-button.value.js-value 0
						.counter-button.plus.js-plus +
				.dropdown-menu__row
					h3 дети
					.counter
						.counter-button.minus.js-minus -
						h3.counter-button.value.js-value 0
						.counter-button.plus.js-plus +
				.dropdown-menu__row
					h3 младенцы
					.counter
						.counter-button.minus.js-minus -
						h3.counter-button.value.js-value 0
						.counter-button.plus.js-plus +
				.dropdown-menu__row
					.dropdown-menu__clear.js-dropdown-menu__clear
						+btn({text: 'очистить',modifier: 'grey'})
					.dropdown-menu__apply.js-dropdown-menu__apply
						+btn({text: 'применить',modifier: 'no-bg'})
