mixin header({signed=false,links=[]} = {})
  header.header
    .header__wrapper
      +logo()
      .header__nav
        +nav({signed,links})
    .header__slide-up
      +icon({color: 'purple', font: 'big'})
    .header__burger
      +icon({icon: 'menu', color: 'purple', font: 'big'})

    