mixin header({signed=false}={})
  header.header
    +logo()
    nav.nav
      .nav__item О нас
      .nav__item Услуги
        +icon()
      .nav__item Вакансии
      .nav__item Новости
      .nav__item Соглашения
        +icon()
      .nav__item(style=signed?'display: none':'').nav__item_unsigned
        .nav__button
          .nav__sign-in-button
            +button({text:'войти',modifier: 'border'})
      .nav__item(style=signed?'display: none':'').nav__item_unsigned
        .nav__button
          .nav__sign-up-button
            +button({text:'зарегистрироваться'})
      .nav__item(style=signed?'':'display: none').nav__item_signed Юлий Цезарь