mixin header({signed})
	header
		img(src="img/Logo.svg").logo
		nav.nav
			.nav__item О нас
			.nav__item Услуги
				+icon({})
			.nav__item Вакансии
			.nav__item Новости
			.nav__item Соглашения
				+icon({})
			.nav__item(style=signed?'display: none':'')
				+button({text:'войти',modifier: 'border'})
			.nav__item(style=signed?'display: none':'')
				+button({text:'зарегистрироваться'})
			.nav__item(style=signed?'':'display: none') Юлий Цезарь