mixin dropdown(text,classname,materialicon,serialNumber)
	div(class="dropdown "+serialNumber)
		.text= text
		i.material-icons= materialicon
		div(class="wrapper__dropdown")
			div(class="dropdown_"+classname)
				
					
					
					
				.controls
					.row
						.name взрослые
						.control
							.val.minus.inactive -
							.val.number 0
							.val.plus +
					.row
						.name дети
						.control
							.val.minus.inactive -
							.val.number 0
							.val.plus +
					.row
						.name младенцы
						.control
							.val.minus.inactive -
							.val.number 0
							.val.plus +			
				.submit
					.clean.inactive очистить
					.apply применить
		
		