mixin btn({text,modifier})
	.toxin-btn(class={'toxin-btn_with-no-bg': modifier==='no-bg','toxin-btn_with-border': modifier==='border','toxin-btn_with-arrow': modifier==='arrow','toxin-btn_grey': modifier==='grey'})
		h3= text
		if modifier=='arrow'
			i.material-icons arrow_forward
