footer
	.footer
		nav
			ul.footer_menu
				li
					.logo
						.logo_img
							img(src="./img/logo_img_border.svg")
							img.left_arc(src="./img/left_logo_arc.svg")
							img.right_arc(src="./img/right_logo_arc.svg")
						.logo_name
							img(src="./img/toxin_logo.svg")
					| Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
				li
					h3 навигация
					nav
						ul.footer_submenu
							li
								a(href="#") О нас
							li
								a(href="#") Новости
							li
								a(href="#") Служба поддержки
							li
								a(href="#") Услуги
				li
					h3 о нас
					nav
						ul.footer_submenu
							li
								a(href="#") О сервисе
							li
								a(href="#") Наша команда
							li
								a(href="#") Вакансии
							li
								a(href="#") Инвесторы
				li
					h3 служба поддержки
					nav
						ul.footer_submenu
							li
								a(href="#") Соглашения
							li
								a(href="#") Сообщества
							li
								a(href="#") Связь с нами
				li
					h3 подписка
					nav
						ul.footer_submenu
							li Получайте специальные предложения и новости сервиса
							li
								+subscription_textfield()
	footer.copyright Copyright © 2018 Toxin отель. Все права защищены.	
		.social_media
			.social_media__icon.twitter
				i(class="fab fa-twitter")
			.social_media__icon.facebook
				i(class="fab fa-facebook-square")
			.social_media__icon.instagram
				i(class="fab fa-instagram")