@import './../../../sass/vars.sass'
.icon
	i.material-icons
		color: $d50
		justify-content: center
		width: 44px
		height: 44px
		background: 0
		cursor: pointer
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center