mixin fa-icon({icon})
  a(href="/mock-address/change-me").fa-icon  
    i.fa-icon__item.fa(aria-hidden='true' class={
      'fa-facebook-official': icon === 'facebook-official',
      'fa-twitter': icon === 'twitter',
      'fa-instagram': icon === 'instagram'
    })