mixin impression_chart()
	svg.svg
		lineargradient#c1
			stop(offset='0%' stop-color='#FFE39C')
			stop(offset='100%' stop-color='#FFBA9C')
		lineargradient#c2
			stop(offset='0%' stop-color='#8BA4F9')
			stop(offset='100%' stop-color='#BC9CFF')
		lineargradient#c3
			stop(offset='0%' stop-color='#66D2EA')
			stop(offset='100%' stop-color='#6FCF97')
		circle.c1(cx='50%' cy='50%' r='58')
		circle.c2(cx='50%' cy='50%' r='58')
		circle.c3(cx='50%' cy='50%' r='58')