mixin ckblist(name)
	.ckblist
		.ckblist__header
			h3.ckblist__name= name
			i.material-icons expand_more
		ul.ckblist__wrapper(style="display: none")
			li
				.ckb 
				| Завтрак
			li
				.ckb
				| Письменный стол
			li
				.ckb
				| Стул для кормления
			li
				.ckb
				| Кроватка
			li
				.ckb
				| Телевизор
			li
				.ckb
				| Шампунь

