main.room_details
	section.pics
		width: 100%
		position: relative
		.img1
			width: calc(100%/1440*981)
		.img2
			width: calc(100%/1440*461)
			position: absolute
			top: 0px
			right: 0px
		.img3
			width: calc(100%/1440*461)
			position: absolute
			bottom: 0px
			right: 0px
	section.info
		width: 100%
		padding: 70px 140px
		display: grid
		grid-template-areas: "info impr lux" "rev rev lux" "rul can lux"
		grid-template-columns: 1fr 1fr 1fr
		grid-column-gap: 70px
		grid-row-gap: 30px
		section
			width: 100%
		h2
			margin-bottom: 20px
		.room_info
			grid-area: info
			.advantages
				display: grid
				grid-gap: 20px
		.impressions
			grid-area: impr
		.reviews
			
			grid-area: rev
			.headline
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				align-items: baseline
				.num
					font-size: 14px
					line-height: 14px
					color: $DS50
					min-width: 62px
			.reviews_grid
				display: grid
				grid-gap: 20px
		.rules
			grid-area: rul
			h2
				margin-left: 20px
		.cancel
			grid-area: can
		.lux-card
			grid-area: lux
		.lux-block
			.total-sum
				h2
					margin: 0px
