include ./../../ui_kit/ui_kit
- var room_preview_array = [{imgs: ['image0.png','image0.png','image0.png','image0.png'],cost: "9 990₽", lux: true, number: 888, reviews: 145, rate: 5},{imgs: ['image1.png','image1.png','image1.png','image1.png'],cost: "9 900₽", lux: false, number: 840, reviews: 65, rate: 4},{imgs: ['image2.png','image2.png','image2.png','image2.png'],cost: "8 500₽", lux: true, number: 980, reviews: 35, rate: 3},{imgs: ['image3.png','image3.png','image3.png','image3.png'],cost: "7 300₽", lux: false, number: 856, reviews: 19, rate: 5},{imgs: ['image4.png','image4.png','image4.png','image4.png'],cost: "6 000₽", lux: false, number: 740, reviews: 44, rate: 4},{imgs: ['image5.png','image5.png','image5.png','image5.png'],cost: "5 800₽", lux: false, number: 982, reviews: 56, rate: 3},{imgs: ['image6.png','image6.png','image6.png','image6.png'],cost: "5 500₽", lux: false, number: 678, reviews: 45, rate: 5},{imgs: ['image7.png','image7.png','image7.png','image7.png'],cost: "5 300₽", lux: false, number: 450, reviews: 39, rate: 4},{imgs: ['image8.png','image8.png','image8.png','image8.png'],cost: "5 000₽", lux: false, number: 350, reviews: 77, rate: 3},{imgs: ['image9.png','image9.png','image9.png','image9.png'],cost: "5 000₽", lux: false, number: 666, reviews: 25, rate: 5},{imgs: ['image10.png','image10.png','image10.png','image10.png'],cost: "5 000₽", lux: false, number: 444, reviews: 15, rate: 3},{imgs: ['image11.png','image11.png','image11.png','image11.png'],cost: "5 000₽", lux: false, number: 352, reviews: 55, rate: 3}]
- var richContent = [{name: 'Широкий коридор',description: 'Ширина коридоров в номере не менее 91 см.'},{name: 'Помощник для инвалидов',description: 'На 1 этаже вас встретит специалист  и проводит до номера.'}]
- var content = [{name: 'Можно курить'},{name: 'Можно с питомцами'},{name: 'Можно пригласить гостей<br>(до 10 человек)'}]
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title landing page
body
	+header(false)
	section.search-room-page
		.search-room-page__filters
			.search-room-page__filter
				.filter__inner
					+datedropdown({names: ['даты пребывания в отеле'],modifier: 'filter'})
					+dropdown({h3:'гости',modifier: 'guest'})
			.search-room-page__filter
				+slider('диапазон цены')
				p Стоимость за сутки пребывания в номере
			.search-room-page__filter
				+checkbox-buttons({h3: 'Checkbox Buttons',content})
			.search-room-page__filter
				+checkbox-buttons({h3:'доступность',content: richContent,modifier: 'rich'})
			.search-room-page__filter
				+dropdown({h3:'удобства номера'})
			.search-room-page__filter
				+checkbox-list('дополнительные удобства')
		.search-room-page__results
			h1 Номера которые мы для вас подобрали
			.room-preview-grid
				each val,ind in room_preview_array
					+room-preview(val,ind)
			.search-room-page__pagination
				+pagination()
	+footer()
