.rangeSlider_wrapper
	width: 266px
	.rangeSlider
		height: 6px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
	p
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: nowrap
		justify-content: space-between