@import './../../../sass/vars.sass'
.counter
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  align-items: center
  h3
    font-family: montserrat
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: $d100
  &__button
    cursor: pointer
    width: 30px
    height: 30px
    border: 1px solid $d25
    border-radius: 50%
    justify-content: center
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    &_no-border
      border: 0
    &_disabled
      opacity: 50%
