mixin counter({val=0} = {})
  .counter.js-counter
    .js-counter__button.counter__button -
    h3.js-counter__button.counter__button_no-border.counter__button=val
    .js-counter__button.counter__button +