@import './../../../sass/vars.sass'
.counter
  display: flex
  align-items: center
  user-select: none
  
  &__button
    cursor: pointer
    width: 30px
    height: 30px
    border: 1px solid $d25
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

    &_no-border
      border: 0
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      font-family: montserrat
      color: $d100
      
    &_disabled
      opacity: 50%
