@import './../../../sass/vars.sass'
.like
  max-width: 40px
  min-height: 20px
  display: block
  cursor: pointer

  &__icon
    min-width: 20px
    display: flex
    justify-content: center
    align-items: center

  &__input
    display: none

  &__input:checked ~ &__number
    color: $p

  &__input:checked ~ &__button > &__icon
    display: none

  &__input:checked ~ &__button > &__icon:nth-child(2)
    display: flex

  &__input:checked ~ &__button:before
    background: $lgp

  &__button
    position: relative
    min-width: 40px
    min-height: 20px
    display: flex
    align-items: center
    border-radius: 10px
    border: solid 1px transparent
    box-sizing: border-box
    background: #fff
    background-clip: padding-box
    transition: color .25s ease
    color: $d25
    &:before
      z-index: -1
      content: ''
      position: absolute
      top: 0px
      right: 0px
      bottom: 0px
      left: 0px
      margin: -1px
      border-radius: inherit
      background: $d25

  &__number
    display: flex
    align-items: center
    line-height: 9px
    font-size: 10px

  &__icon:nth-child(2)
    display: none
    
  &__number
    min-width: 20px
    min-height: 20px
    margin-right: -1px
    font-size: 10px
    line-height: 12px
