mixin like({likes,checked=false})
  label.like
    input(type="checkbox" checked= checked)
    .like__button
      .like__icon
        +icon({icon:'favorite_border',font: 'small',color: 'light'})
      .like__icon
        +icon({icon:'favorite',font: 'small',color: 'purple'})
      .like__number= likes