mixin like({likes,checked=false})
  .like
    input(type="checkbox" checked= checked)
    .like__button
      .like__icon
        +icon({icon:'favorite_border'})
      .like__icon
        +icon({icon:'favorite'})
      .like__number= likes