.block.lux-block
	.room-info
		.number 
			span.main-span  № 
				span.inner-span 888 
			| люкс
		.day-cost 9 900₽ 
			span в сутки
	.arrival-depart
		h3 прибытие
		h3 выезд
		.input-wrapper
			input(type="text" class="arrival date-dropdown" placeholder="дд.мм.гггг")
			i.material-icons expand_more
		.input-wrapper
			input(type="text" class="depart date-dropdown" placeholder="дд.мм.гггг")
			i.material-icons expand_more
		.calendar-wrapper
	.guest
		.dropdown-wrapper
			h3 гости
			+guest()
	.cost-info
		.row.price
			.cost-mult-days 9990₽ x
			.sum ₽
		.row.services
			.fee-wrapper
				.fee Сбор за услуги: скидка 2 179₽
				.ellipse i
			.sum 0₽
				
		.row.additional-services
			.fee-wrapper
				.fee Сбор за дополнительные услуги
				.ellipse i
			.sum 300₽
				
	.total-sum 
		h2 Итого
		.underline
		.sum ₽
	.reserv
		.button-wrapper
			+arrowbutton("забронировать")