.block.registration-block
	h1 Регистрация аккаунта
	.person
		.name
			+text_input("Имя",null,"name")
		.surname
			+text_input("Фамилия",null,"surname")
		.gender
			+radiobuttons
	.birthday
		h3 дата рождения
		+masked_textfield
	.sign-up
		h3 данные для входа в сервис
		.sign-up__email
			+text_input("Email",null,"email")
		.sign-up__password
			+text_input("Пароль",null,"password")
		.sign-up__special-offers
			+toggle
	.payment
		+arrowbutton("перейти к оплате")
	.sign-in
		| Уже есть аккаунт на Toxin
		.sign-in__button.signin
			+borderbutton("войти")
