mixin roompreview(number,cost,rate,review,link)
	.block.room-preview--block(class=number)
		a(href= link)
			.room-preview--slider
				.carousel.slide(data-ride='false' data-interval="10000" id="carouselExampleIndicators")
					ol.carousel-indicators
					.carousel-inner
					a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.sr-only Previous
					a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.sr-only Next
			.room-preview--info
				.room-preview--info__header
					.room-info
						.number 
							span.main-span  № 
								span.inner-span= number 
							| люкс
						.day-cost
							pre= cost 
							span в сутки
				.room-preview--info__footer
					+rate(rate)
					.review= review  
						span Отзывов