.search-block.block
	h1 Найдем номера под ваши пожелания
	.arrival-depart
		h3 прибытие
		h3 выезд
		.input-wrapper
			input(type="text" class="arrival date-dropdown" placeholder="дд.мм.гггг")
			i.material-icons expand_more
		.input-wrapper
			input(type="text" class="depart date-dropdown" placeholder="дд.мм.гггг")
			i.material-icons expand_more
		.calendar-wrapper
					

	.dropdown-wrapper
		h3 гости
		+guest()
	.button-wrapper
		a(href="search_room.html")
			+arrowbutton("подобрать номер")

