.block.sign-in--block
	h1 Войти
	.sign-in
		.sign-up__email
			+text_input("Email",null,"email")
		.sign-up__password
			+text_input("Пароль",null,"password")
	.enter-button
		+arrowbutton("войти")
	.create-account
		| Нет аккаунта на Toxin?
		+borderbutton("создать")
