mixin room-details()
  .room-details.js-room-details
    .room-details__row
      .room-details__inner-row
        .room-details__number №
          +heading({level: '1',text: '888'})
          +heading({text: 'люкс',color: 'purple'})
        .room-details__payment
          .room-details__cost 9 990₽
          =" в сутки"
    .room-details__row
      +date-dropdown({names: ['прибытие','выезд']})
    .room-details__row
      +dropdown({h3:'гости',modifier: 'guest'})
    .room-details__row
      .room-details__tax-table
        .room-details__tax-name.js-room-details__tax-name 9 990₽ х 4 суток
        .room-details__tax-info_empty
        .room-details__tax-sum.js-room-details__tax-sum 39 960₽
        .room-details__tax-name Сбор за услуги: скидка 2 179₽
        .room-details__tax-info i
        .room-details__tax-sum 0₽
        .room-details__tax-name Сбор за дополнительные услуги
        .room-details__tax-info i
        .room-details__tax-sum 300₽
    .room-details__row
      .room-details__total
        +heading({text:'Итого',level:'2'})
        .room-details__underline
        .room-details__sum.js-room-details__sum
          +heading({text:'38 081₽',level:'2'}) 
      +button({text: 'забронировать',modifier: 'arrow'})
