@import './../../../sass/vars.sass'
.room-details
  max-width: 380px
  padding: 40px 30px 30px
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  box-sizing: border-box
  background: white
  display: grid

  @media (max-width: 420px)
    padding: 5%

  @media (min-width: 1280px)
    min-width: 380px

  &__row
    display: grid
    grid-gap: 5px

  &__row:not(:first-child)
    margin-top: 20px

  &__row:last-child
    margin-top: 21px

  &__inner-row:first-child
    *
      display: inline-block

  &__inner-row:last-child
    color: $d100

  &__inner-row
    z-index: 1
    display: grid
    grid-auto-flow: column
    justify-content: space-between
    align-items: center
    font-size: 14px
    line-height: 18px

  &__number
    font-family: quicksand
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 17px
    color: $d100

  &__payment,
  &__reviews
    color: $d50

  &__payment
    font-size: 12px
    line-height: 18px

  &__cost
    font-size: 14px
    line-height: 18px

  &__cost,
  &__reviews-amount
    font-weight: bold

  &__tax-table
    display: grid
    grid-template-columns: repeat(3,auto)
    grid-gap: 8px 0
    justify-self: start

  &__tax-name

  &__tax-sum
    text-align: right
    margin-left: 25px

  &__tax-info
    width: 20px
    height: 20px
    border: 1px solid $d25
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    font-weight: bold
    font-size: 12px
    line-height: 14px
    color: $d25

  &__total
    display: grid
    grid-template-columns: auto 1fr auto
    align-items: baseline
    grid-gap: 5px
    margin-bottom: 16px
  
  &__underline
    display: block
    height: 1px
    border-bottom: 1px dashed $d25
