mixin ckblist(name)
	.ckb-list
		.ckb-list__header
			h3.ckb-list__name= name
			i.material-icons expand_more
		ul.ckb-list__inner(style="display: none")
			li
				.ckb 
				| Завтрак
			li
				.ckb
				| Письменный стол
			li
				.ckb
				| Стул для кормления
			li
				.ckb
				| Кроватка
			li
				.ckb
				| Телевизор
			li
				.ckb
				| Шампунь