@import './../../../sass/vars.sass'
.ckb-list
	width: 100%
	color: $d50
	.ckb-list__header
		width: 100%
		justify-content: space-between
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		i
			transition: transform .250s ease
			width: 44px
			height: 44px
	.ckb-list__inner
		li
			margin-bottom: 5px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			.ckb
				margin-right: 10px
.ckb-list.ckb-list_expanded
	i
		transform: rotate(180deg)