include pug/textfield
include pug/dropdown
include pug/expandableChekboxList
include pug/buttons
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body hello world
	section.left
		br
		i.material-icons &#xE87C;
		br
		span text field
		br
		+text_input("Email",null,"email")
		br
		span dropdown
		br
		+dropdown("Сколько гостей","guests","expand_more","взрослые","дети","младенцы") 
		br
		span dropdown
		br
		+dropdown("Сколько гостей","bedroom","expand_more","спальни","кровати","ванные комнаты") 
		br
		+checkboxlist("expandable chekbox list","expand_more")
		br
		+ckboxbuttons("checkbox buttons")
		br
	section.right
		span radio buttons
		br
		+radiobuttons
		br
		span toggle
		br
		+toggle
		br
		span like button
		br
		+like
		br
		span rate button
		br
		+rate(4)