<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title toxin
body
	nav.router
		a(href="form_elements.html") form elements
		a(href="cards.html") cards
		a(href="headers_and_footers.html") headers and footers
		a(href="landing_page.html") landing_page
