include partials/textfield
include partials/dropdown
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body hello world
	br
	i.material-icons &#xE87C;
	br
	span text field
	br
	+text_input("Email",null,"email")
	br
	span dropdown
	br
	+dropdown("Сколько гостей","guests","expand_more","взрослые","дети","младенцы") 
	br
	span dropdown
	br
	+dropdown("Сколько гостей","bedroom","expand_more") 
	

	