@import './fonts/fonts.sass'
@import './sass/reset.sass'
@import './sass/vars.sass'
@import './sass/common.sass'
$fa-font-path: "~font-awesome/fonts/"
@import "~font-awesome/scss/font-awesome"
@import './pages/sass/pages.sass'
.router
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
