@import './sass/fonts'
@import './sass/vars'
@import './sass/partials/partials'
body
	font-family: montserrat;
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 24px
	background-color: #fff
	color: $green
span
	font-family: montserrat
	font-style: normal
	font-weight: bold
	font-size: 12px
	line-height: 15px
	text-transform: uppercase	
	color: $DS1
	