@import './sass/fonts'
@import './sass/vars'
@import './sass/partials/partials'
body
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	font-family: montserrat;
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 24px
	background-color: #fff
	color: $green
	section
		width: 50%
span
	font-family: montserrat
	font-style: normal
	font-weight: bold
	font-size: 12px
	line-height: 15px
	text-transform: uppercase	
	color: $DS

	