mixin dropdown(h3)
	.dropdown__wrapper
		h3= h3
		.dropdown
			.dropdown-display.js-dropdown-display
			i.material-icons expand_more
			.dropdown-menu.js-dropdown-menu(style="display: none")
				.dropdown-menu__row
					h3 спальни
					.counter
						.counter-button.minus.js-minus -
						h3.counter-button.value.js-value 2
						.counter-button.plus.js-plus +
				.dropdown-menu__row
					h3 кровати
					.counter
						.counter-button.minus.js-minus -
						h3.counter-button.value.js-value 2
						.counter-button.plus.js-plus +
				.dropdown-menu__row
					h3 ванные комнаты
					.counter
						.counter-button.minus.js-minus -
						h3.counter-button.value.js-value 0
						.counter-button.plus.js-plus +
				