mixin dropdown(h3)
	.dropdown__wrapper
		h3= h3
		.form--element__wrapper.dropdown
			.form--element
			i.material-icons expand_more
			.dropdown--menu.form--element(style="display: none")
				.dropdown--menu__row
					h3 спальни
					.counter
						.counter--button.minus -
						h3.counter--button.value 2
						.counter--button.plus +
				.dropdown--menu__row
					h3 кровати
					.counter
						.counter--button.minus -
						h3.counter--button.value 2
						.counter--button.plus +
				.dropdown--menu__row
					h3 ванные комнаты
					.counter
						.counter--button.minus -
						h3.counter--button.value 0
						.counter--button.plus +