include ./../../ui-kit/ui-kit
- var room = {imgs: ['image0.png','image0.png','image0.png','image0.png'],cost: "9 990₽", lux: true, number: 888, reviews: 145, rate: 5}
- var room1 = {imgs: ['image1.png','image1.png','image1.png','image1.png'],cost: "9 900₽", lux: false, number: 840, reviews: 65, rate: 4}
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  a(href="index.html") home
  .cards
    .cards__column
      .cards__item
        +room-search()
      .cards__item
        +registration()
    .cards__column
      .cards__item
        +room-details()
      .cards__item
        +sign-in()
    .cards__column
      .cards__item
        +room-preview({room,id:0})
      .cards__item
        +room-preview({room:room1,id:1})