include ./../../ui_kit/ui_kit
- var room = {imgs: ['image0.png','image0.png','image0.png','image0.png'],cost: "9 990₽", lux: true, number: 888, reviews: 145, rate: 5}
- var room1 = {imgs: ['image1.png','image1.png','image1.png','image1.png'],cost: "9 900₽", lux: false, number: 840, reviews: 65, rate: 4}
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	a(href="index.html") home
	.cards__wrapper
		.cards__column
			.-card-
				+room_search()
			.-card-
				+registration()
		.cards__column
			.-card-
				+room_details()
			.-card-
				+sign_in()
		.cards__column
			.-card-
				+room_preview(room,0)
			.-card-
				+room_preview(room1,1)