mixin nav({signed})
  nav.nav
    .nav__item О нас
    .nav__item Услуги
      +icon()
    .nav__item Вакансии
    .nav__item Новости
    .nav__item Соглашения
      +icon()
    .nav__item(data-signed=!signed+'').nav__item_unsigned.js-nav__item_unsigned
      .nav__button
        .js-nav__sign-in-button
          +button({
            text:'войти',
            modifier: 'border',
            color: 'purple',
            isLow:true
            })
    .nav__item(data-signed=!signed+'').nav__item_unsigned.js-nav__item_unsigned
      .nav__button
        .js-nav__sign-up-button
          +button({
            text:'зарегистрироваться',
            isLow:true
            })
    .nav__item(data-signed=signed+'').js-nav__item_signed.nav__item_signed Юлий Цезарь