@import './../../../sass/vars.sass'
.checkbox-buttons-list
	display: grid
	grid-gap: 10px
	.checkbox-button
		display: grid
		grid-template-columns: auto 1fr
		align-items: stretch
		grid-template-rows: 1fr
		grid-column-gap: 10px
		grid-row-gap: 5px
		.checkbox-button__name
			font-size: 14px
			line-height: 18px
			font-weight: normal
			color: $d50
.checkbox-buttons-list_rich
	display: grid
	grid-gap: 10px
	.checkbox-button
		display: grid
		grid-template-columns: auto 1fr
		align-items: stretch
		grid-column-gap: 10px
		grid-row-gap: 5px
		.checkbox-button__name
			font-size: 14px
			line-height: 18px
			font-weight: bold
			color: $d75
		.checkbox-button__description
			grid-row: 2/2
			grid-column: 2/2
			font-size: 12px
			line-height: 14px
			color: $d50
.checkbox-buttons-list__wrapper
	h3
		margin-bottom: 15px
		font-family: montserrat
		font-style: normal
		font-weight: bold
		font-size: 12px
		line-height: 15px
		text-transform: uppercase
		color: $d100