mixin ckbbtns(h3)
	.ckbbtns__wrapper
		h3= h3
		.ckbbtns
			.ckbbtn
				.ckb
				.ckbbtn__name Можно курить
			.ckbbtn
				.ckb
				.ckbbtn__name Можно с питомцами
			.ckbbtn
				.ckb
				.ckbbtn__name Можно пригласить<br>гостей (до 10 человек)