include ./../checkbox_button/checkbox_button
mixin checkbox_buttons({h3,content,modifier})
	.ckbbtn-list__wrapper
		h3= h3
		div(class=modifier?'ckbbtn-list_'+modifier:'ckbbtn-list')
			each ckbbtn in content
				+ckbbtn({name: ckbbtn.name, description: ckbbtn.description})
