include ./../checkbox_button/checkbox_button
mixin checkbox_buttons({h3,content,modifier})
	.checkbox-buttons-list__wrapper
		h3= h3
		div(class=modifier?'checkbox-buttons-list_'+modifier:'checkbox-buttons-list')
			each ckbbtn in content
				+checkbox-button({name: ckbbtn.name, description: ckbbtn.description})
