mixin ckbbtn({name,description})
	.ckbbtn
		.ckb
		.ckbbtn__name!= name
		if description
			.ckbbtn__description= description
mixin checkbox_buttons({h3,content,modifier})
	.ckbbtn-list__wrapper
		h3= h3
		.ckbbtn-list(class=modifier?'ckbbtn-list_'+modifier:'')
			each ckbbtn in content
				+ckbbtn({name: ckbbtn.name, description: ckbbtn.description})
