include ../../cards/blocks/room-preview
include ../../pug/textfield
include ../../pug/expandableChekboxList
include ../../pug/buttons
include ../../components/components
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	.wrapper
		include ../../headers_and_footers/_header
		main
		include ../../headers_and_footers/_footer