include ../../cards/blocks/room-preview
include ../../pug/textfield
include ../../pug/expandableChekboxList
include ../../pug/buttons
include ../../components/components

- var text1 = "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей." 
- var text2 = "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
- var review1 = {num: 11, name: "Мурад Сарафанов", time: "5 дней назад", text: text1, path: "./img/reviewusericons/murad.usericon.jpg"}
- var review2 = {num: 2, name: "Патрисия Стёклышкова", time: "неделю назад", text: text2, path: "./img/reviewusericons/patricia.usericon.jpg"}
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	.wrapper
		include ../../headers_and_footers/_header
		main
			section.pics
				.img.img1
				.img.img2
				.img.img3
			section.info
				section.room_info
					h2 Сведения о номере
				section.impressions
					h2 Впечатления от номера
				section.reviews
					.headline
						h2 Отзывы посетителей номера
						.num 2 отзыва
					.reviews_grid
						+review(review1)
						+review(review2)
				.rules
					h2 Правила
				.cancel
					h2 Отмена
				.lux-card
					include ../../cards/blocks/lux

		include ../../headers_and_footers/_footer