mixin rate({num})
  - var rest = 5
  .rate
    while num>0
      +icon({icon:'star'})
      .rate__num= num--
      .rate__num= rest--
    while rest>0
      +icon({icon:'star_border'})
      .rate__num= rest--