.text_field
	width: 320px
	height: 44px
	padding: 15px 13px
	background: #FFFFFF
	border: 1px solid $DS25
	box-sizing: border-box
	border-radius: 4px
	font-family: montserrat
	font-style: normal
	font-weight: normal
	font-size: 14px
	color: $DS75
	&::placeholder		
		line-height: 18px
		color: $DS25
	&:hover,&:focus
		border: 1px solid $DS50
		outline: none		
		line-height: 24px
		
