.text_field
	width: 320px
	height: 44px
	position: relative
	input.active
		border-bottom-left-radius: 0px
		border-bottom-right-radius: 0px
		border: 1px solid $DS50
		+ i
			color: $DS75
	input	
		width: 100%
		height: 100%
		padding: 15px 13px
		background: #FFFFFF
		border: 1px solid $DS25
		box-sizing: border-box
		border-radius: 4px
		font-family: montserrat
		font-style: normal
		font-weight: normal
		font-size: 14px
		color: $DS75
		&:hover,&:focus
			border: 1px solid $DS50
			outline: none		
			line-height: 24px
		&::placeholder
			font-family: montserrat
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 24px
			color: $DS25

		
	&__email
		&::placeholder
			line-height: 18px
			color: $DS25
	
		
	

		
