@import './../../../sass/vars.sass'
.range-slider
  width: 100%
  
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

  &__scale
    max-height: 6px
    border: 1px solid $d25
    box-sizing: border-box

  .ui-slider-handle.ui-corner-all.ui-state-default
    max-width: 12px
    max-height: 12px
    border: 2px solid #fff
    border-radius: 50%
    background: $lgg
    box-sizing: content-box

    &.ui-state-focus,
    &.ui-state-hover
      outline: 0

  .ui-slider-range.ui-corner-all.ui-widget-header
    top: 50%
    height: 6px
    transform: translateY(-50%)
    background: $lgg
    
  .ui-slider-horizontal .ui-slider-handle
    top: 50%
    transform: translate(0, -50%)
