.search_room__wrapper
	main
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		padding: 30px 140px 70px
		.room-preview__grid
			display: grid
			grid-template-columns: 1fr 1fr 1fr
			width: min-content
			grid-row-gap: 20px
			grid-column-gap: 12px
			.block
				margin-right: 0px