mixin pagination()
	.pagination
		.page-number--buttons
			ul
				li
					a(href="#").active 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") ...
				li
					a(href="#") 15
				li
					a(href="#").next-page--button
						i.material-icons arrow_forward
		.some-of-variants
			| 1 — 12 из 100+ варантов аренды

