include ../pug/textfield
include ../pug/dropdown
include ../pug/expandableChekboxList
include ../pug/buttons
include ../pug/guest
include blocks/room-preview
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	a(href="index.html") index
	a(href="hf.html") HF
	a(href="landingPage.html") lp
	.cards-wrapper
		.cards-wrapper_inner
			include blocks/search
			include blocks/regist
		.cards-wrapper_inner
			include blocks/lux
			include blocks/sign-in
		.cards-wrapper_inner
			+roompreview("888 ","9 990₽ ",5,"145 ")
			+roompreview("840 ","9 900₽ ",4,"65 ")
