include ../pug/textfield
include ../pug/dropdown
include ../pug/expandableChekboxList
include ../pug/buttons
include ../pug/guest
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body 
	a(href="index.html") index
	include blocks/search
	br
	include blocks/lux
	