include ../pug/textfield
include ../pug/dropdown
include ../pug/expandableChekboxList
include ../pug/buttons
include ../pug/guest
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	a(href="index.html") index
	.cards-wrapper
		.cards-wrapper_inner
			include blocks/search
			include blocks/regist
		.cards-wrapper_inner
			include blocks/lux
			include blocks/sign-in
		.cards-wrapper_inner
			include blocks/room-preview


		
		//- include blocks/search
		//- include blocks/regist
		//- include blocks/lux
		//- include blocks/sign-in		
		//- include blocks/room-preview
				

			